<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">UMLonk.dev</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Export
          </a>
          <div class="dropdown-menu">
            <li><a class="dropdown-item" (click)="generateJson()">JSON</a></li>
            <li><a class="dropdown-item" (click)="generatePNG()">PNG</a></li>
            <li><a class="dropdown-item" (click)="generateJava()">Spring Project</a></li>
            <li><a class="dropdown-item" (click)="generateFlutter()">Flutter Project</a></li>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" aria-expanded="false" (click)="loadJson()">
            Import
          </a>
        </li>
        
        <form class="d-flex">
          <div class="input-group">
            @if (voiceRecognitionService.canListen) {
              <button (click)="onSpeechRecognitionButton()" class="btn btn-outline-secondary">{{voiceRecognitionService.isListening ? '🛑' : '🎤'}}</button>
            }
            <input type="text" class="form-control" id="PromptInput" placeholder="Prompt..." [(ngModel)]="prompt" name="prompt">
            <button (click)="submitPrompt(prompt)" [disabled]="prompt.length == 0 || processing" class="btn btn-primary">
              @if (processing) {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              }
              @else {
                <i class="bi bi-send"></i>
              }
            </button>
          </div>
        </form>
      </ul>
    </div>
  </div>
</nav>
