<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">UMLonk.dev</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
            Generate
          </a>
          <div class="dropdown-menu" style="width: 300px;">
            <div class="px-4 py-3">
              <div class="mb-3">
                <label for="PromptInput" class="form-label">Prompt</label>
                <div class="input-group mb-3">
                  <input type="text" #PromptInput class="form-control" id="PromptInput" placeholder="Office" [ngModel]="prompt">
                  @if (voiceRecognitionService.canListen) {
                    <button (click)="onSpeechRecognitionButton()" class="btn btn-outline-secondary">{{voiceRecognitionService.isListening ? '🛑' : '🎤'}}</button>
                  }
                </div>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1" value="class" checked [(ngModel)]="selectedValue">
                <label class="form-check-label" for="radioDefault1">
                  Simple class
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" value="compClass" [(ngModel)]="selectedValue">
                <label class="form-check-label" for="radioDefault2">
                  Complex class
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" value="relation" [(ngModel)]="selectedValue">
                <label class="form-check-label" for="radioDefault2">
                  Relation
                </label>
              </div>
              <div style="width: 100%; padding-top: 5px; display: flex; flex-direction: row; justify-content: center;">
                <button (click)="submitPrompt(PromptInput.value)" [disabled]="PromptInput.value.length === 0 || processing" class="btn btn-primary">
                  @if (processing) {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  }
                  @else {
                    <span class="button-text">Submit</span>
                  }
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Export
          </a>
          <div class="dropdown-menu">
            <li><a class="dropdown-item" (click)="generateJson()">JSON</a></li>
            <li><a class="dropdown-item" (click)="generatePNG()">PNG</a></li>
            <li><a class="dropdown-item" (click)="generateJava()">Spring Project</a></li>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" aria-expanded="false" (click)="loadJson()">
            Import
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
